doctype html
html
  head
    title Vaibhav Dance Acedemy 
    block scripts
    block style
  body
    nav#navbar
      ul 
        div#logo 
         img(src="../static/img/log.png", alt="")
         | VA DANCE
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Our Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer
      | copyright 2022 VaibhavDanceAcedemy All rights reserved